@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500';

body {
  --font-color: #555;
  --heading-color: #333;
  --background-color: #fff;
  --link-color: #2c5bb1;
  --border-color: #d8dee9;
  --high-contrast-color: #111;

  --main-font: "Roboto", "Helvetica", "Arial", sans-serif; 
  --code-font: "Courier New", monospace, "Courier";

  font-family: var(--main-font);
  line-height: 1.5;
  margin: 0;
  color: var(--font-color);
  background-color: var(--background-color);
  background-image: url("../images/background.png");
  background-position: right;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

body.dark {
  --font-color: #ccc;
  --heading-color: #fff;
  --background-color: #0d1117;
  --link-color: #ebe995;
  --border-color: #2e3135;
  --high-contrast-color: #eee;

  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
strong {
  color: var(--heading-color);
}

h1 {
  border-bottom: 4px solid var(--border-color);
  font-size: 3em;
}

h2 {
  border-bottom: 4px dashed var(--border-color);
  padding: 0.5em 0;
}

a {
  color: var(--link-color);
  text-decoration: none;
}

a:hover {
  color: var(--link-color);
  text-decoration: underline;
}

ul {
  list-style: none;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 0.5em 2em;
}

tr {
  border-bottom: 1px solid var(--border-color);
}

table > tbody > tr:last-child {
  border: none;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

section {
  overflow: auto;
  margin: 2em 0;
}
