@import 'https://fonts.googleapis.com/css2?family=Open+Sans&family=Zilla+Slab:wght@300;400&display=swap';

body {
  --font-color: #333;
  --heading-color: #252525;
  --background-color: #fff;
  --link-color: #2c5bb1;
  --border-color: #d8dee9;
  --low-contrast-color: #f6f8fa;
  --mid-contrast-color: rgb(99, 122, 148);
  --high-contrast-color: #111;
  --code-background-color: #131a24;

  --heading-font: 'Zilla Slab',-apple-system,'BlinkMacSystemFont','Segoe UI','Roboto','Oxygen-Sans','Ubuntu','Cantarell','Helvetica Neue',sans-serif;
  --main-font: 'Open Sans',-apple-system,'BlinkMacSystemFont','Segoe UI','Roboto','Oxygen-Sans','Ubuntu','Cantarell','Helvetica Neue',sans-serif;
  --code-font: 'Courier New', monospace, 'Courier';

  font-family: var(--main-font);
  font-size: 1.1em;
  line-height: 1.8;
  margin: 0;
  color: var(--font-color);
  background-color: var(--background-color);
  background-image: url("../images/background.png");
  background-position: right;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

body.dark {
  --label-color: #aaa;
  --font-color: #ccc;
  --heading-color: #fff;
  --background-color: #0d1117;
  --link-color: #ebe995;
  --border-color: #242f3b;
  --low-contrast-color: #131a24;
  --mid-contrast-color: #5a7694;
  --high-contrast-color: #eee;

  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
strong {
  color: var(--heading-color);
  font-family: var(--heading-font);
}

h1 {
  border-bottom: 1px solid var(--border-color);
  margin: 0.4em 0;
  font-size: 3em;
}

h2 {
  border-bottom: 1px dashed var(--border-color);
  padding: 0.5em 0;
}

a {
  color: var(--link-color);
  text-decoration: none;
  position: relative;
}

a:hover {
  color: var(--link-color);
}

a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: -2px;
  left: 0;
  background-color: var(--link-color);
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}

a:hover::before {
  visibility: visible;
  transform: scaleX(1);
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 0.5em 2em;
}

tr {
  border-bottom: 1px solid var(--border-color);
}

table > tbody > tr:last-child {
  border: none;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

section {
  overflow: hidden;
  margin-bottom: 2em;
}

blockquote {
  background: var(--low-contrast-color);
  border-left: 10px solid var(--mid-contrast-color);
  padding: 1.5em 1em;
  margin: 0;
  quotes: "\201C""\201D""\2018""\2019";
}

blockquote:before {
  color: var(--mid-contrast-color);
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

blockquote p {
  display: inline;
}

code {
  font-size: 1.2em;
}

pre {
  background-color: var(--code-background-color) !important;
  border-left: 10px solid var(--mid-contrast-color) !important;
}
