.footer {
  border-top: 1px solid #d8dee9;
  position: relative;
}

.container {
  padding: 1em;
  margin: 0 auto;
  max-width: 50em;
  display: flex;
}

.info {
  width: 70%;
}

.links {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.icon {
  font-size: 2.2em;
  padding: 10px;
  color: #ccc;
}

@media only screen and (max-width: 600px) {
  .container {
    display: block;
  }

  .links,
  .info {
    width: 100%;
    justify-content: center;
    text-align: center;
  }
}