.header {
  position: fixed;
  top: 0;
  width: 100%;
  border-bottom: 1px solid var(--border-color);
  background-color: var(--background-color);
}

.container {
  margin: 0 auto;
  max-width: 50em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1em;
}

.title {
  font-size: 1.2em;
  letter-spacing: 5px;
  padding: 1em 0;
  white-space: nowrap;
  color: var(--font-color);
  text-decoration: none;
}

.options {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: 'Courier New', monospace, 'Courier';
  height: 100%;
}

.options > * {
  margin-left: 2em;
}

.options > button {
  background: none;
  border: none;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  cursor: pointer;
  white-space: nowrap;
}

.options > button:hover {
  color: var(--link-color);
  text-decoration: underline;
}

@media only screen and (max-width: 600px) {
  .container {
    flex-direction: column-reverse;
    text-align: center;
    padding: 0.5em;
  }
  
  .options {
    width: 100%;
  }

  .options > * {
    margin: 0;
  }

  .title {
    padding: 0.5em;
  }
}