.button {
  display: inline-block;
  border: none;
  background: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 3rem;
  color: var(--font-color);
  font-family: "Courier", 'Courier New', monospace;
  border: 1px solid var(--border-color);
}

.button:hover {
  background-color: var(--hover-background-color);
}
